.fieldPrecio {
  width: 110px;
  flex-shrink: 0;
  margin-bottom: 0;
}

.precioWrap {
  position: relative;
  width: 100%;
}

@media (max-width: 680px) {
  .fieldPrecio {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .fieldPrecio {
    width: 100%;
  }
}
